USE [CVSEndpoint]
GO
/****** Object:  UserDefinedTableType [dbo].[CSVDataType]    Script Date: 05/05/2025 09:29:07 p. m. ******/
CREATE TYPE [dbo].[CSVDataType] AS TABLE(
	[CSV_ID] [int] NULL,
	[Field] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
