USE [CVSEndpoint]
GO
/****** Object:  Table [dbo].[csv_metadata_model]    Script Date: 05/05/2025 09:29:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csv_metadata_model](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[cve_layout] [nvarchar](max) NOT NULL,
	[total_columns] [int] NOT NULL,
	[total_rows] [int] NOT NULL,
	[cve_creator] [nvarchar](max) NOT NULL,
	[upload_date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CSVMetadataModel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
