USE [CVSEndpoint]
GO
/****** Object:  StoredProcedure [dbo].[InsertCSVMetadata]    Script Date: 05/05/2025 09:29:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Marco>
-- Create date: <04/08/25>
-- Description:	<Takes info from the uploaded CSV and its endpoint, and uploads it to the metadata table>
-- =============================================
CREATE PROCEDURE [dbo].[InsertCSVMetadata] 
	@CveLayout NVARCHAR(255),
	@TotalColumns INT,
	@TotalRows INT,
	@CveCreator NVARCHAR(255)
AS
BEGIN
	INSERT INTO csv_metadata_model(cve_layout, total_columns, total_rows, cve_creator, upload_date)
	VALUES (@CveLayout, @TotalColumns, @TotalRows, @CveCreator, GETUTCDATE());
END
GO
