USE [CVSEndpoint]
GO
/****** Object:  Table [dbo].[csv_data]    Script Date: 05/05/2025 09:29:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[csv_data](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[csv_id] [int] NULL,
	[field] [nvarchar](max) NULL,
	[value] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[csv_data]  WITH CHECK ADD FOREIGN KEY([csv_id])
REFERENCES [dbo].[csv_metadata_model] ([Id])
GO
