USE [CVSEndpoint]
GO
/****** Object:  StoredProcedure [dbo].[PivotCSVData]    Script Date: 05/05/2025 09:29:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Marco Reyes>
-- Create date: <04/14/25>
-- Description:	<Returns a specific uploaded csv table given its assigned csv_id.>
-- =============================================
CREATE PROCEDURE [dbo].[PivotCSVData]
	@csvId INT
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE
		@columnCount INT,
		@columns NVARCHAR(MAX),
		@query NVARCHAR(MAX);

	SELECT @columnCount = COUNT(DISTINCT Field)
	FROM dbo.csv_data
	WHERE csv_id = @CsvId;

	SELECT @Columns = STRING_AGG(QUOTENAME(Field), ',')
	FROM (
		SELECT DISTINCT Field
		FROM dbo.csv_data
		WHERE csv_id = @CsvId
	) AS D;

	SET @Query = '
	WITH rowGrouped AS (
		SELECT
			((Id - 1) / ' + CAST (@columnCount AS NVARCHAR) + ') AS row_group,
			Id,
			Field,
			Value
		FROM dbo.csv_data
		WHERE csv_id = ' + CAST (@csvId AS NVARCHAR) + '
	),
	idMapped AS (
		SELECT
			MIN(Id) AS Id,
			row_group
		FROM rowGrouped
		GROUP BY row_group
	),
	dataWithRowId AS (
		SELECT
			m.Id,
			r.Field,
			r.Value
		FROM rowGrouped r
		JOIN idMapped m ON r.row_group = m.row_group
	)
	SELECT *
	FROM dataWithRowId
	PIVOT (
		MAX(Value) FOR Field IN (' + @columns + ')
	) AS pivotedTable
	ORDER BY Id;';

	EXEC sp_executesql @Query;

END
GO
